* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
.brand-icon {
  width: 30px;
  height: 30px;
  background-color: rgb(55, 55, 198);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
ul, li{
  list-style: none;
}

.main {
  width: 100%;
  
}



.sc-section {
  width: 100%;
  height: 100%;
  /* background-color: cadetblue ; */
  background-image: url(sc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.login-btn1{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

}
.login-btn1 :hover{
  color:  white;
  background-color:rgb(55, 55, 198);
  cursor: pointer;
}
.login-wrap{
  position: relative;
  width: 12%;
  left: 1300px;
  top: 1px;
  font-size: 20px;
  font-weight: bold;
  }
  /*input 아이디 form*/
  .input-id{
    border: none;
    outline:none;
  }
  .login-id-wrap{
      margin: 0px 10px 8px 10px;
      padding: 10px;
      border: solid 1px #dadada;
      background: #fff;
    }
  
  /*input 패스워드박스*/
  .login-pw-wrap{
  
    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px #dadada;
    background: #fff;
  }
  /*input 패스워드 form*/
  .input-pw{
    border: none;
    outline:none;
  
  }
  .login-btn-wrap{
    height: 52px;
    line-height: 55px;
    margin: 0px 10px 8px 10px;
    border: solid 1px rgba(0,0,0,.1);
    background-color: rgb(55, 55, 198);
    color: #fff;
    cursor: pointer;
    text-align: center;
  }
  /*로그인버튼*/
  .login-btn{   
    background-color: rgb(55, 55, 198);
    border: none;
    color:#fff;
    font-size: 18px;
    outline:none;
    cursor: pointer;
    text-align: center;
  }
  .login-btn1{
    border: none;
    font-size: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
  
  }
  /*로그인 아래 박스*/
  .under-login{
    height: 50px;
    border-bottom: 1px solid gainsboro;
    margin: 0px 10px 35px 10px;
  }
  
  

  .button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(217, 234, 233);
    border: solid 5px gainsboro;
    border-radius: 17px ;
  }
  .button:hover{
    background-color: rgb(217, 234, 233);
    color: rgb(55, 55, 198);
  }
  .scimage1{
    position: relative;
    bottom: 8px;
  }
  .scimage2{
    position: relative;
    bottom: 3px;
  }
  .modal-container5 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 200px;
    right:250px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .modal-container6 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 200px;
    left:50px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .modal-container7 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 200px;
    left:300px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
